@charset "UTF-8";
:root{
    --dark:rgb(131, 145, 146);
    --light:rgb(249, 231, 159);
}
[data-theme="dark"]{
    --background:var(--dark)
}
[data-theme="light"]{
    --background:var(--light)
}

/*RESET*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a{text-decoration: none;}
ul{list-style: none;}


/*MENU*/
.body{
    background-color: var(--background);
}

header{
    background-color: #FA5858;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

#logo{
    height: 50px;
    margin-top: 25px;
    margin-left: 50px;
}

#menu ul{
    float: right;
    margin-right: 35px;
}

#menu ul li{
    float: left;
    padding: 0 15px;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

#menu ul li:hover{
    background-color: #FE2E2E;
}

#menu-bars{
    display: none;
}
/* Responsiv 1024px */
@media screen and (max-width:1024px){
    #menu ul{
        display: block;
    }
}


/* Responsiv 786px */
@media screen and (max-width:786px){

    html, body{
        overflow-x: hidden;
    }

    /* MENU */
    #menu{
        width: 100%;
    }

    #menu-bars{
        display: block;
        float: right;
        color: #fff;
        font-size: 3em;
        line-height: 100px;
        margin-right: 40px;
        cursor: pointer;
    }

    #logo{
        height: 50px;
        margin-top: 25px;
        margin-left: 40px;
    }

    #menu ul{
        position: relative;
        width: 100%;
        top: -20px;
        display: none;
        margin: 0 auto;
        margin-bottom: -15px;
        text-align: center;
    }
    
    #menu ul li{
        float: none;
        color: #fff;
        background: #FA5858;
        border-top: 2px solid #fff;
        font-size: 1.5em;
        cursor: pointer;
        height: 3em;
        line-height: 3em;
    }

    /* CAMPO DE BUSCA */
    main #form{
        width: 80%;
    }

    main #form input[type="text"]{
        width: 100%;
        height: 4em;
    }
    
    main #form input[type="submit"]{
        width: 100%;
        height: 4em;
        margin-top: 10px;
    }

    /* PANEL DE POKEMONS */
    
    .pokemon_card{
        width: 30.3%;
        margin-left: 2%;
        margin-bottom: 1%;
    }

}


/* Responsiv 425px */
@media screen and (max-width:425px){
    html, body{
        overflow-x: hidden;
    }

    #logo{
        margin-left: 30px;
    }

    #menu-bars{
        margin-right: 30px;
    }

    /* CAMPO DE BUSQUEDA */
    main #form{
        width: 100%;
    }

    /* PANEL DE POKEMONS */
    .pokemon_card{
        width: 98%;
        margin-left: 1%;
        margin-bottom: 4%;
    }

}